.body_nofooter{
    padding-top: 10px;
    padding-right: 10px;
}
.seccion_peliculas{
    padding-right: 10px;
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-size: 50px;
}
.seccion_populares{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px
}
.seccion_series{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px
}
.seccion_calificadas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px
}
